        body {
	    display: flex;
	    flex-direction: column;
            justify-content: center;
            align-items: center;
	    font-family: lucida-console;
	    text-align: center;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            height: 100vh;
        }
        .logo {
            max-width: 50%;
            max-height: 50%;
        }
        .title {
            font-size: 4em;
            margin-bottom: 20px;
	    margin-bottom: 20px;
        }
        .pdf-link {
            font-size: 2em;
            color: #007bff;
            text-decoration: none;
	    margin-bottom: 20px;
        }
        .pdf-link:hover {
            text-decoration: underline;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
        .content {
            padding: 20px;
        }
        .box {
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .box:hover {
            background-color: #e2e2e2;
        }
        .box-content {
            display: none;
            padding: 10px;
            border-top: 1px solid #ddd;
            background-color: #fafafa;
        }
